.circle{
    &.sm{
        height: 1.563rem;
        width: 1.563rem;
    }
    &.bg{
        height: 4.063rem;
        width: 4.063rem;
    }
    border-radius: 50%;
}

.red{
    background-color: var(--third);
}

.violet{
    background-color: var(--secondary);
}

.blue{
    background-color: var(--primary);
}