.title {
    font-family: 'noto-bold';
    font-size: 1.125rem;
    line-height: 1.318rem;
    font-weight: 700;
}

.text-red{
    color: var(--third);
}

.text-blue{
    color: var(--primary);
}

.text-violet{
    color: var(--secondary);
}