h2 {
    font-family: 'noto-bold';
    font-size: 1.125rem;
    line-height: 1.318rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}