body {
    --primary       : #80DEEA;
    --primary-light : #D9F3F4;
    --primary-dark  : #4BACB8;
    --primary-medium: #B4FFFF;

    --secondary         : #8884D8;
    --secondary-light   : rgba(136, 132, 216, 0.24);

    --third         :#ED756A;
    --third-light   : rgba(237, 117, 106, 0.21);
}