body {
    --primary       : #4BACB8;
    --primary-light : #D9F3F4;

    --secondary         : #8884D8;
    --secondary-light   : #E1E0F5;

    --third         : #ED756A;
    --third-light   : #FBDDDA;

    --primary-text  : #061058;
    --disabled-text : #B4B7CC;

    --line  : #DADCE6;
}